node_modules/
frontend/node_modules/
admin/node_modules/

dist/
frontend/dist/
admin/dist/

.env
.env.*
!.env.example

*.log

storage/uploads/*
!storage/uploads/.gitkeep
storage/tmp/*
!storage/tmp/.gitkeep
